body{
    font-size: small;
    font-family: sans-serif;
}
table > thead > tr > th{
    text-align: center;
}
.text-center{
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.table {
    width: 100%;
  
    border-collapse: collapse;
}
.table, th, td {
    border: 1px solid #999;
    padding: 4px 10px;
    text-align: left;
}
.noborder {
    border: 0px solid #fff;
    padding: 4px 10px;
}
.table-secondary {
    background-color: black;
    color: white;
}
.small {
    font-size: small;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}

h4 {
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
h5 {
    text-transform: uppercase;
    padding: 0px;
    margin-top: 0px;
}


/* untuk harga barang */
