body{
    font-size: small;
    font-family: sans-serif;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.table {
    width: 100%;
  
    border-collapse: collapse;
}
.table, th, td {
    border: 1px solid #999;
    padding: 4px 10px;
}
.noborder {
    border: 0px solid #fff;
    padding: 4px 10px;
}
.table-secondary {
    background-color: black;
    color: white;
}
.small {
    font-size: small;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}

/* untuk harga barang */
